<div class="message-icon">
  <span>
    {{this.messageIcon}}
  </span>
</div>
<div class="notification-content {{if clickable "clickable-message"}}" role="button" {{action "messageClicked"}}>
  <span class="message-text">
    {{!-- messageContent is escaped during component didInsertElement, because it also supports HTML content--}}
    {{#if this.message.htmlContent}}
      {{! template-lint-disable no-triple-curlies }}
      {{{this.message.message}}}
      {{! template-lint-enable no-triple-curlies }}
    {{else}}
      {{this.message.message}}
    {{/if}}
  </span>
</div>
<span class="close-icon" role="button" {{action "messageClosed"}}>
  {{this.closeIconHTML}}
</span>
{{#if this.animationDurationCss}}
  <div class="countdown"></div>
{{/if}}
