<div class="message-icon">
  <span>
    {{messageIcon}}
  </span>
</div>
<div class="notification-content {{if clickable 'clickable-message'}}">
  <span class="message-text" {{action 'messageClicked'}}>
    {{!-- messageContent is escaped during component didInsertElement, because it also supports HTML content--}}
    {{#if message.htmlContent}}
      {{{message.message}}}
    {{else}}
      {{message.message}}
    {{/if}}
 </span>
</div>
<span class="close-icon" {{action 'messageClosed'}}>
  {{closeIconHTML}}
</span>
{{#if animationDurationCss}}
  <div class="countdown"></div>
{{/if}}
