<div>
  <label>Message:</label>
  {{input value=message}}
</div>

<div>
  <label>Message type:</label>
<ul>
  <li>
    <label>Info</label>
    {{radio-button
      value="info"
      groupValue=messageType}}
  </li>
  <li>
    <label>Success</label>
        {{radio-button
        value="success"
        groupValue=messageType}}
  </li>
  <li>
    <label>Error</label>
        {{radio-button
        value="error"
        groupValue=messageType}}
  </li>
  <li>
    <label>Custom:</label>
    {{radio-button
    value="custom"
    groupValue=messageType}}
    {{input value=customType}}
  </li>
</ul>

</div>

<div>
  <label>Timeout:</label>
  {{input value=timeout type="number"}}
</div>


<div>
  <label>Custom icon (fontawesome icon):</label>
  {{input value=customIcon type="text"}}
</div>

<div>
  <label>Sticky:</label>
  {{input type="checkbox" name="sticky" checked=sticky}}
</div>

<div>
  <label>HTML content:</label>
  {{input type="checkbox" name="htmlContent" checked=htmlContent}}
</div>

<div>
  <label>closeOnClick:</label>
  {{input type="checkbox" name="closeOnClick" checked=closeOnClick}}
</div>

<div>
  <button {{action 'addMessage'}}>
  Add notification
  </button>

  <button {{action "removeAll"}}>
  Remove all
  </button>
</div>

<p>
  Note: try to click on the notification message or on the X button to close it - onClick and onClose callbacks will be triggered.
</p>
<p>
  Note2: don't worry - colors & icons can be easily customized :)
</p>

{{notification-panel}}
