{{! template-lint-disable }}
<div>
  <label>Message:</label>
  <Input @value={{this.message}}/>
</div>

<div>
  <label>Message type:</label>
<ul>
  <li>
    <label>Info</label>
    {{radio-button
      value="info"
      groupValue=this.messageType}}
  </li>
  <li>
    <label>Success</label>
        {{radio-button
        value="success"
        groupValue=this.messageType}}
  </li>
  <li>
    <label>Error</label>
        {{radio-button
        value="error"
        groupValue=this.messageType}}
  </li>
  <li>
    <label>Custom:</label>
    {{radio-button
    value="custom"
    groupValue=this.messageType}}
    <Input @value={{this.customType}}></Input>
  </li>
</ul>

</div>

<div>
  <label>ID:</label>
  <Input @value={{this.id}}></Input>
</div>

<div>
  <label>Timeout:</label>
  <Input @value={{this.timeout}} @type="number"></Input>
</div>


<div>
  <label>Custom icon (fontawesome icon):</label>
  <Input @value={{this.customIcon}} @type="text"></Input>
</div>

<div>
  <label>Sticky:</label>
  <Input @type="checkbox" name="sticky" @checked={{this.sticky}}></Input>
</div>

<div>
  <label>HTML content:</label>
  <Input @type="checkbox" name="htmlContent" @checked={{this.htmlContent}}></Input>
</div>

<div>
  <label>closeOnClick:</label>
  <Input @type="checkbox" name="closeOnClick" @checked={{this.closeOnClick}}></Input>
</div>

<div>
  <button {{action 'addMessage'}}>
  Add notification
  </button>

  <button {{action "removeAll"}}>
  Remove all
  </button>
  <button {{action "removeAllForce"}}>
  FORCE Remove all
  </button>
  <div>
    <label>Except IDs (comma separated):</label>
    <Input @value={{this.exceptIds}}></Input>
  </div>
</div>

<p>
  Note: try to click on the notification message or on the X button to close it - onClick and onClose callbacks will be triggered.
</p>
<p>
  Note2: don't worry - colors & icons can be easily customized :)
</p>

<NotificationPanel></NotificationPanel>
{{! template-lint-enable }}
