<button {{action 'addMessage'}}>
Add notification
</button>

<button {{action 'addStickyMessage'}}>
Add sticky notification
</button>

<button {{action 'addSuccessMessage'}}>
Add success notification
</button>


<button {{action 'addInfoMessage'}}>
Add info notification
</button>



{{notification-panel}}
