<div>
  <label>Message:</label>
  {{input value=message}}
</div>

<div>
  <label>Message type:</label>
<ul>
  <li>
    <label>Info</label>
    {{radio-button
      value="info"
      groupValue=messageType}}
  </li>
  <li>
    <label>Success</label>
        {{radio-button
        value="success"
        groupValue=messageType}}
  </li>
  <li>
    <label>Error</label>
        {{radio-button
        value="error"
        groupValue=messageType}}
  </li>
</ul>

</div>

<div>
  <label>Timeout:</label>
  {{input value=timeout type="number"}}
</div>

<div>
  <label>Sticky:</label>
  {{input type="checkbox" name="sticky" checked=sticky}}
</div>

<div>
  <label>HTML content:</label>
  {{input type="checkbox" name="htmlContent" checked=htmlContent}}
</div>

<div>
  <button {{action 'addMessage'}}>
  Add notification
  </button>

  <button {{action "removeAll"}}>
  Remove all
  </button>
</div>
{{notification-panel}}
