<div>
  <label>Message:</label>
  {{input value=message}}
</div>

<div>
  <label>Timeout:</label>
  {{input value=timeout type="number"}}
</div>

<div>
  <label>Sticky:</label>
  {{input type="checkbox" name="sticky" checked=sticky}}
</div>

<div>
  <label>HTML content:</label>
  {{input type="checkbox" name="htmlContent" checked=htmlContent}}
</div>

<div>
  <button {{action 'addMessage'}}>
  Add notification
  </button>

  <button {{action "removeAll"}}>
  Remove all
  </button>
</div>
{{notification-panel}}
